<div class="max-w-7xl mx-auto my-16 rounded-3xl bg-blue-500">

	<div class="flex flex-wrap p-6 lg:p-10 space-y-6 lg:space-y-0">

		<div class="w-full md:w-3/5 lg:pr-10 text-white">

			<h3 class="text-2xl font-semibold mb-4">Open Source & Unabhängig</h3>

			<p>Dieses Projekt wird vollständig als <span class="font-semibold">Open-Source</span> entwickelt.
        Wir arbeiten unabhängig, schalten keine Werbung und verwenden keine bezahlten Platzierungen.</p>

		</div>



		<div class="self-center flex flex-col w-full md:w-2/5">


				<a href="https://github.com/thevectorde/thevectorde.github.io"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="w-full px-6 py-2 rounded-full bg-white text-center font-semibold block">
                    Auf Github anschauen
                </a>


		</div>

	</div>

</div>
